@import 'bootstrap/dist/css/bootstrap';


.myButton {
  display: inline !important;
}


#jumbotron-card{
      background-image: asset-url(backsplash);
}

.card {
    margin: 20px;
    background-color: lightblue !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight:bold;
}

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

/* Other Classes for Page Styling */

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

#button-container {
  display:block;
  align: right;
  border-color:red;
  border-width:3px;
}

#button-row {
  margin-left: auto;
  margin-right: auto;
  align: right;
  display: inline-block;
}

#edit-form{
  margin: 0px 0px 0px 20px;
}



.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em;
    border-radius: 5px}
  .flickr_pagination .disabled {
    color: grey; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: black;}
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: whitesmoke;
      color: grey; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }