<div class="card" "container">
  <img src="https://810d2b19b6aa4419b45a645e9e79447e.vfs.cloud9.us-east-2.amazonaws.com/alpha-blog/app/assets/images/backsplash.jpeg" alt="manhattan">
  <div class="card-body">
    <h5 class="card-title">You've reached home</h5>
    <p class="card-text">Welcome to the alpha-blogging site. Here you'll discover great content</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div

